*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cart-main-container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.cart-home-cart-p-container{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.cart-home-p{
    font-family:  "Poppins" , sans-serif;
    font-weight: 400;
    opacity: 50%;
    font-size: 14px;
    line-height: 21px;
}

.cat-page-title {
    font-family:  "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.cart-products-titles-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border: 3px solid #F5F5F5;
    padding: 20px;
}

.cart-products-first-title{
    width: 200px;
}

.cart-products-titles{
    font-size: 16px;
    font-family:  "Poppins" , sans-serif;
    line-height: 24px;
    font-weight: 400;
}

.cart-products-features-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 3px solid #F5F5F5;
    align-items: center;
    padding: 10px 25px;
}

.cart-quantity-subtotal-container{
    display: flex;
    width: 316px;
    justify-content: space-between;
}

.cart-quantity-subtotal-titles {
  display: flex;
  width: 330px;
  justify-content: space-between;
}

.cart-products-images {
   object-fit: contain;
   height: 60px;
   width: 60px;
}

.cart-products-image-container{
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 180px;
}

.cart-products-names{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family:  "Poppins" , sans-serif;
    font-size: 14px;
}

.cart-products-names:hover {
    -webkit-line-clamp: 3;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


.cart-products-quantity {
    width: 100%;
    border: 1.5px solid  rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 4px 3.5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family:  "Poppins" , sans-serif;
    font-size: 16px;
}

.cart-select-appearance-container{
    position: relative;
    width: 45px; 
}

.cart-select-buttons-container{
    position: absolute;
    display: grid;
    top: 2px;
    right: 4px;
}

.cart-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-button{
    padding: 16px 48px;
    background-color: white;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}

.cart-products-coupon-total-container{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.cart-products-input{
    padding: 16px 10px;
    border-radius: 7px;
}

.cart-products-input::placeholder {
    font-family:  "Poppins" , sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.cart-products-coupon-button{
    margin-left: 10px;
    background-color:  rgba(219, 68, 68, 1);
    padding: 16px 48px;
    border-radius: 7px;
    color: white;
    border: none;
}

.cart-total-container{
  width: 400px;
  padding: 30px 20px;
  border: 1.5px solid  rgba(0, 0, 0, 1);
  border-radius: 7px;
}

.cart-total-title{
  font-family: "Poppins" , sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color:  rgba(0, 0, 0, 1);
}

.cart-subtotal-container{
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}


.cart-shipping-container{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding: 18px 0;
}

.cart-total-before-discount-container{
    display: none;
    justify-content: space-between;
    padding: 18px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.cart-calculated-total-container{
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

.cart-discount-container{
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding: 18px 0;
    display: none;
}

.cart-coupon-remove-container{
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    display: none;
}

.cart-total-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cart-total-button{
    background-color:  rgba(219, 68, 68, 1);
    border: none;
    border-radius: 7px;
    color: white;
    padding: 16px 48px;
}

.cart-empty-text-svg-container{
    display: flex;
    gap: 10px;
}

.cart-empty-text {
    font-family: "Poppins" , sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.cart-cancel-coupon-p{
    align-self: center;
}

.cart-p {
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}